@{
    ViewBag.Title = "About Potato Catalog";
    ViewBag.Message = "This site uses ASP.Net MVC, bootstrap.js/jquery, Entity Framework, Identity Framework";
}
<div style="text-align: center">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</div>
<hr/>
<div>
    <p>The Shop contains games, you can order any available edition for a game.(Collectors, etc.)</p>
    <p>Games without editions can only be viewed.</p>
    <p></p>
    <p>Normal accounts can browse the Shop and place orders by spending their potatoes.</p>
    <p>Admin accounts can:</p>
    <p>Order History - View approved and rejected orders</p>
    <p>Manage Orders - Approve or reject pending orders</p>
    <p>Create Game - Create a new game to be added to the Shop</p>
    <p>Manage Games - Browse a list of available games and edit or delete them</p>
    <p>Manage Tags - View, edit, delete or merge tags</p>
    <p>Manage Editions - Create or edit game editions, these are your options when creating new items to be sold in the shop</p>
</div>
