
<h5 class="col-md-offset-1">Games with editions in the shop cannot be deleted.</h5>
<div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
</div>