@model PotatoCatalog.Models.Cart

<div class="navbar-right pull-left">
    <a class="btn btn-default navbar-btn btn-sm" style="margin-left: 3px; margin-right: 3px;" href="@Url.Action("Index", "Cart", new {returnUrl = Request.Url.PathAndQuery})">
        <b>
            <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
            Your Cart:
        </b>
    </a>
</div>

<div class="navbar-text navbar-right">
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue()
</div>
